<% provide(:title, t(".begin_title")) %>
<div class="container">
  <h1 class="title text-center"><%= t ".title" %></h1>
  <div class="form-group">
    <%= form_tag manage_report_path, method: :get do %>
      <%= text_field_tag "search[date_form]", @search.date_form %>
      <%= text_field_tag "search[date_to]", @search.date_to %>
      <%= submit_tag "search" %>
    <% end %>
  </div>
  <div id="create-control">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col"><%= t ".number" %></th>
          <th scope="col"><%= t ".report_id" %></th>
          <th scope="col"><%= t ".report_title" %></th>
          <th scope="col"><%= t ".report_time" %></th>
          <th scope="col"><%= t ".report_action" %></th>
        </tr>
        <tbody>
          <%= will_paginate @reports %>
          <%= render @reports %>
        </tbody>
      </thead>
    </table>
    <% if @reports.blank? %>
      <h1 class="text-center"><%= t ".no_data" %></h1>
    <% end %>
  </div>
</div>
