<tr>
  <td><%= i+1 %></td>
  <td><%= user.id %></td>
  <% unless user.division.blank? %>
    <td><%= user.division.name %></td>
  <% else %>
    <td><%= t".nil" %></td>
  <% end %>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.birthday %></td>
  <td><%= user.skill %></td>
  <td>
    <%= link_to "Show Reports", manage_report_path(user), method: :get %>
    <%= link_to t(".edit"), edit_admin_manage_user_path(user), method: :get %>
    <%= link_to t(".delete"), admin_manage_user_path(user), method: :delete, data: {confirm: t(".delete_sure")} %>
  </td>
</tr>
