<tr>
  <td><%= i+1 %></td>
  <td><%= division.id %></td>
  <td><%= division.name %></td>
  <td><%= division.parent_id %></td>
  <% unless division.parent_path.blank? %>
    <td><%= division.parent_path %></td>
  <% else %>
    <td>------</td>
  <% end %>
  <td>
    <%= link_to "Show", manage_division_path(division), method: :get %>
    <%= link_to t(".edit"), edit_manage_division_path(division), method: :get %>
    <%= link_to t(".delete"), manage_division_path(division), method: :delete, data: {confirm: t(".delete_sure")} %>
  </td>
</tr>
