<% provide(:title, t(".begin_title")) %>
<div class="content-wrapper">
  <%= render partial: "shared/head_profile", locals: {path1: nil, title: "Manage Division", link1: "", link2: nil}%>
  <section class="content">
    <div id="my_container">
      <div class="col-12">
        <div class="create">
          <%= link_to "Create new Division", new_manage_division_path, class: "btn btn-primary" %>
        </div>
        <div class="card">
            <div class="card-header">
              <h3 class="card-title"><b>Manage User</b></h3>
              <% if @divisions.blank? %>
                <h3 class="no_data card-title">( <i>No data displayed!</i> )</h3>
              <% end %>
              <div class="card-tools">
                <%= form_tag manage_divisions_path, class: "form-inline", method: :get do %>
                  <%= text_field_tag :q, "", class: "form-control mr-sm-2", placeholder: "Search" %>
                  <%= button_tag class: "btn btn-outline-success my-2 my-sm-0" do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
              <table class="table table-head-fixed text-nowrap table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Division Name</th>
                    <th scope="col">Parent Division Name</th>
                    <th scope="col">Path Parent Division</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: "division", collection: @divisions %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
        <%= will_paginate @divisions if @divisions %>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
