<div class="container">
  <h1 id="title" class="text-center"><%= @division.name %></h1>
  <h3 id="title" class="text-center">Member : <%= @division.users.size %></h3>

  <div id="create-control">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col"><%= t ".number" %></th>
          <th scope="col"><%= t ".user_id" %></th>
          <th scope="col"><%= t ".division" %></th>
          <th scope="col"><%= t ".user_name" %></th>
          <th scope="col"><%= t ".user_email" %></th>
          <th scope="col"><%= t ".user_phone" %></th>
          <th scope="col"><%= t ".user_birthday" %></th>
          <th scope="col"><%= t ".user_skill" %></th>
          <th scope="col"><%= t ".action" %></th>
        </tr>
        <tbody>
          <% @division.users.each_with_index do |user, i| %>
            <% unless user.admin? %>
              <%= render partial: "admin_manage_users/user", locals: {user: user, i: i} %>
            <% end %>
          <% end %>
        </tbody>
      </thead>
    </table>
  </div>
</div>
