<% provide(:title, t(".begin_title")) %>
<div class="container">
  <h1 class="title text-center"><%= t ".title" %></h1>
  <div class="form-group">
    <%= form_tag approve_requests_path, method: :get do %>
      <%= text_field_tag "search[date_form]", @search.date_form %>
      <%= text_field_tag "search[date_to]", @search.date_to %>
      <%= submit_tag "search" %>
    <% end %>
  </div>
  <div id="create-control">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col"><%= t ".number" %></th>
          <th scope="col"><%= t ".request_id" %></th>
          <th scope="col"><%= t ".request_time" %></th>
          <th scope="col"><%= t ".request_status" %></th>
          <th scope="col"><%= t ".request_action" %></th>
        </tr>
        <tbody>
          <%= will_paginate @requests %>
          <% @requests.each_with_index do |request, i| %>
            <%= render partial: "request", locals: {request: request, i: i} %>
          <% end %>
        </tbody>
      </thead>
    </table>
    <% if @requests.blank? %>
      <h1 class="text-center"><%= t ".no_data" %></h1>
    <% end %>
  </div>
</div>
