<% provide(:title, t(".begin_title")) %>
<div class="content-wrapper">
  <%= render partial: "shared/head_profile", locals: {path1: "", title: "Manage List Request IL, LE, LO", link1: "", link2: ""}%>
  <section class="content">
    <div class="col-12">
      <div class="card">
          <div class="card-header">
            <h3 class="card-title"><b>List your request</b></h3>
            <% if @approval_requests.blank? %>
              <h3 class="no_data card-title">( <i>No data displayed!</i> )</h3>
            <% end %>
            <div class="card-tools row">
              <div>
                <%= search_form_for @q, url: approve_requests_path, class: "form-inline", method: :get do |f| %>
                  <%= f.date_field :created_at_gteq, class: "form-control select" %>
                  <%= f.date_field :created_at_lteq, class: "form-control select" %>
                  <%= f.search_field :division_name_or_request_reason_cont_any, class: "form-control mr-sm-2", placeholder: "Search" %>
                  <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                <% end %>
              </div>

              <div style="margin-left: 50px;">
                <%= form_tag approve_requests_path, class: "form-inline", method: :get do %>
                  <%= select_tag :date, raw(date_select.collect {|i| "<option>#{i[0]}</option>"}),{include_blank: "Choose date", class: "form-control select", onchange: "this.form.submit()"} %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Sender Code</th>
                  <th scope="col">Sender Name</th>
                  <th scope="col">KIND</th>
                  <th scope="col">Time Of Creation </th>
                  <th scope="col">Time Request</th>
                  <th scope="col">Reason</th>
                  <th scope="col">STATUS</th>
                  <th scope="col">ACTION</th>
                </tr>
              </thead>
              <tbody>
                <%= render partial: "approve_requests/approval_request", collection: @approval_requests %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
      </div>
      <%= will_paginate @approval_requests if @approval_requests %>
    </div>
  </section>
  <!-- /.content -->
</div>
