<small><%= t ".dialog_plan" %></small>
<p><%= @report.plan %></p>
<small><%= t ".dialog_actual" %></small>
<p><%= @report.actual %></p>
<small><%= t ".dialog_next_plan" %></small>
<p><%= @report.next_plan %></p>
<small><%= t ".dialog_issual" %></small>
<p><%= @report.issue %></p>
