<div class="container">
  <h1 class="title text-center"><%= t ".title" %></h1>
  <div id="create-control">
    <div class="create">
      <%= link_to t(".create_btn"), new_report_path, class: "btn btn-primary" %>
    </div>
    <% if current_user.manager? && current_user.division.parent_id.present? %>
      <div class="create">
        <%= link_to t(".create_btn"), new_report_path, class: "btn btn-primary" %>
      </div>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col"><%= t ".number" %></th>
          <th scope="col"><%= t ".report_id" %></th>
          <th scope="col"><%= t ".report_title" %></th>
          <th scope="col"><%= t ".report_time" %></th>
          <th scope="col"><%= t ".report_action" %></th>
        </tr>
        <tbody>
          <%= will_paginate @reports %>
          <%= render @reports %>
        </tbody>
      </thead>
    </table>
    <% if @approval_requests.blank? %>
      <h1 class="text-center"><%= t ".no_data" %></h1>
    <% end %>
  </div>
</div>
