<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <%= image_tag("logos/logo.png", class: "brand-image img-circle elevation-3") %>
      <span class="brand-text font-weight-light">DAILY REPORT</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item has-treeview user-panel">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-user"></i>
              <p>
                <%= current_user.name %>
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to profiles_path, class: "nav-link" do %>
                  <i class="far fa-circle nav-icon"></i>
                  <p>Profile</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to signout_path, method: :delete, class: "nav-link" do %>
                  <i class="far fa-circle nav-icon"></i>
                  <p>Logout</p>
                <% end %>
              </li>
            </ul>
          </li>

          <% if current_user.manager? %>
            <li class="nav-item">
             <%= link_to manage_groups_path, class: "nav-link" do %>
                 <i class="nav-icon fas fa-tasks"></i>
                <p>Manage Project Teams</p>
              <% end %>
            </li>
          <% end %>

          <% unless manage_report.blank? %>
            <li class="nav-item">
              <%= link_to manage_projects_path, class: "nav-link" do %>
                <i class="nav-icon fas fa-tasks"></i>
                <p>Project Groups</p>
              <% end %>
            </li>
          <% end %>

          <li class="nav-item has-treeview">
            <% if current_user.admin? %>
              <%= link_to "#", class: "nav-link" do %>
                <i class="nav-icon fas fa-tasks"></i>
                <p>Manage Internal <i class="fas fa-angle-left right"></i></p>
              <% end %>
            <% elsif current_user.manager? %>
              <%= link_to "#", class: "nav-link" do %>
                <i class="nav-icon fas fa-tasks"></i>
                <p>Manage Requests<i class="fas fa-angle-left right"></i></p>
              <% end %>
            <% end %>

            <ul class="nav nav-treeview">
              <% if current_user.admin? %>
                <li class="nav-item">
                  <%= link_to admin_manage_users_path, class: "nav-link" do %>
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Users</p>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to manage_divisions_path, class: "nav-link" do %>
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Divisions</p>
                  <% end %>
                </li>
              <% elsif current_user.member? %>
                <li class="nav-item">
                  <%= link_to requests_path, class: "nav-link" do %>
                    <i class="far fa-circle nav-icon"></i>
                    <p>IL, LE, LO</p>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to manage_divisions_path, class: "nav-link" do %>
                    <i class="far fa-circle nav-icon"></i>
                    <p>Daily Report</p>
                  <% end %>
                </li>
              <% elsif current_user.manager? %>
                <li class="nav-item">
                  <li class="nav-item">
                    <%= link_to approve_requests_path, class: "nav-link" do %>
                      <i class="far fa-circle nav-icon"></i>
                      <p>Approve IL, LE, LO</p>
                    <% end %>
                  </li>
                </li>
              <% end %>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <%= link_to "#", class: "nav-link" do %>
              <i class="nav-icon fas fa-tasks"></i>
              <p>Personal Requests<i class="fas fa-angle-left right"></i></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to reports_path, class: "nav-link" do %>
                  <i class="far fa-circle nav-icon"></i>
                  <p>Daily Reports</p>
                <% end %>
              </li>
              <% unless current_user.admin? || (current_user.manager? && current_division.parent_id.blank?) %>
                <li class="nav-item">
                  <%= link_to requests_path, class: "nav-link" do %>
                    <i class="far fa-circle nav-icon"></i>
                    <p>IL, LE, LO</p>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.2
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


</body>
