<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to t(".title"), root_path, class: "navbar-brand" %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to t(".reports"), reports_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t(".requests"), requests_path, class: "nav-link" %>
    </li>
    <% if current_user.manager? %>
      <li class="nav-item">
        <%= link_to t(".manage_request"), approve_requests_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t(".manage_division"), manage_members_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>

  <ul class="navbar-nav ">
    <li class="nav-item dropdown">
      <div type="button" class="btn btn-light" href="#" data-toggle="dropdown">
        <%= t ".notifi" %> <span class="badge badge-primary">9</span>
      </div>

      <div class="dropdown-menu" >
        <%= link_to t(".notifi_item1"), "#", class: "dropdown-item" %>
        <%= link_to t(".notifi_item2"), "#", class: "dropdown-item" %>
      </div>
    </li>

    <li class="nav-item dropdown">
      <%= link_to t(".settings"), "#", class: "nav-link dropdown-toggle", "data-toggle": "dropdown" %>
      <div class="dropdown-menu">
        <%= link_to t(".profile"), "#", class: "dropdown-item" %>
        <%= link_to t(".logout"), "#", class: "dropdown-item" %>
      </div>
    </li>
  </ul>
</nav>
