<!DOCTYPE html>
<html>
  <head>
    <title><%= t "title" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

  </head>

  <body>
    <div id="flash">
      <% if notice.present? %>
        <%= render partial: "shared/notice_banner" %>
      <% end %>
    </div>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= render "layouts/header" %>

    <%= yield %>
    <%= render "shared/dialog" %>
  </body>
</html>
